# Static library
libapue.a

# ELF binaries
*.o
*.out
access
add2
add2stdio
atfork
badexit2
barrier
bindunix
bo
buf
cdpwd
changemod
child
cleanup
cmd1
cmd2
critical
csize
deadlock
devrdev
devzero
doatexit
echoall
echoarg
exec1
exec2
exitstatus
fgetsfputs
fifo1
fileflags
filetype
findsvc
fork1
fork2
ftw8
getcharbug
getcputc
getlogin
getpw44bsd
getpwsvr4
getrlimit
goodexit
hello
hole
longpath
ls1
main
mandatory
mask
mcopy2
memstr
mkstemp
mycat
mycd
myuclc
nice
nonblockw
orphan3
pendlock
pipe1
pipe2
pipe4
pollmsg
pollmsg2
popen1
popen2
pracct
print
printd
prtime
pruids
read1
read2
reenter
reread
reread2
rot13a
ruptime
ruptime-dg
ruptimed
ruptimed-dg
ruptimed-fd
seek
sendmsg
settty
shell1
shell2
sigtstp
sigusr
sizepipe
strftime
suspend
suspend1
suspend2
systest1
systest2
systest3
t4
t_getpass
t_isatty
t_raw
t_ttyname
tellwait1
tellwait2
tempfiles
test1
testerror
testjmp
threadid
timedlock
timeout
times1
tshm
tsleep2
uidgid
umask
unlink
vfork1
vfork3
wait1
winch
zap
zombie
